# MacOS
xcuserdata/
*.xcuserstate
Secrets.plist
/build-ios18/
.derivedData/
/.derivedData-sim*/
/.derivedData-sim*/

# Xcode build + user state
DerivedData/
*.xcscmblueprint
*.xccheckout
*.xcresult
*.moved-aside
*.hmap
*.ipa
*.dSYM

# If Xcode build location is set within the repo
Build/
build/
**/Build/Intermediates.noindex/
**/Build/Products/
**/Build/Logs/
**/Build/SourcePackages/

# SwiftPM / Xcode SPM integration
.build/
.swiftpm/
Packages/
SourcePackages/

# Clang/Swift index & module caches (only if generated in-repo)
ModuleCache.noindex/

# Python venv
venv/
__pycache__/
.DS_Store
.env

# SweetPad
buildServer.json
.vscode/

# Large video assets
BoBo/Resources/*.mp4